* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: #dfdcdc83 1px solid; */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background: #f0f2f5;
  color: black;
  height: 100%;
  min-width: 370px;
}

ul {
  list-style: none;
}
img {
  width: 100%;
}
h3 {
  font-weight: 500;
}

i {
  width: 20px;
  margin-right: 5px;
}
textarea:focus,
input {
  outline: none;
}
textarea,
input {
  resize: none;
}
/* container */
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1300px;
}
/* navigation */

.navigation .container {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.navigation {
  background: transparent;
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
  border: 1px solid #d9dddf;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 29px 0px;
  z-index: 2;
}

.btn {
  display: flex;
  font-size: 1.02rem;
  padding: 5px 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn:hover {
  border-radius: 50px;
  background: #f0f2f5;
  color: black;
}
/* main content */
.main .container {
  display: flex;
  justify-content: space-evenly;
}

/* content menu */
.content {
  flex: 2;
  padding-top: 30px;
}
.posts:last-child {
  margin-bottom: 90px;
}
/* post */
.postContainer {
  width: 100%;
  min-width: 260px;
  max-width: 640px;
  background: rgba(255, 254, 254, 0.747);
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9dddf;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 29px 0px;
}

.postContainer .postHeader {
  display: flex;
  height: 30px;
  align-items: center;
  font-size: 1.1rem;
}

.postHeader img,
.newPost img,
.menuHeader img,
.recommendation img,
.comment img {
  width: 48px;
  border-radius: 50%;
  border: 1px solid rgba(231, 231, 231, 0.644);
  margin: 10px;
}

.postHeader .btn {
  margin-left: auto;
  color: #646464;
}
.time {
  color: #646464;
  font-size: 1rem;
}

.menuHeader img {
  width: 55px;
}
.postText {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-left: 70px;
  padding: 1.4rem 0;
}
.postFooter .btn.active {
  color: red;
}
.postFooter .btn {
  color: #636262;
}
.i {
  width: 20%;
}

.postFooter,
.newpostFooter {
  padding: 6px 3px 0;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border-top: 1px solid rgb(184, 184, 184);
  border-bottom: 1px solid rgb(184, 184, 184);
}
.newpostFooter {
  width: 100%;
  border-bottom: none;
}
.comment {
  width: 100%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: start;
}
.commentInputContainer,
.newComment {
  align-items: start;
  display: flex;
  width: 100%;
  margin-bottom: 0.4rem;
}
.commentContainer {
  display: flex;
  align-items: start;

  width: 100%;

  border: none;
  padding: none;
}
.textReact {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.userComment {
  background: #e5e8ec;

  width: 100%;
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.comment img {
  width: 2.5rem;
  margin: 0 10px 0;
}
.commentInput {
  padding: 10px;
  font-size: 1.2rem;
  height: 43px;
  max-height: 430px;
  overflow: none;
  width: 100%;
  margin: 0;
  background: #e5e8ec;
  border: none;
  border-radius: 20px 0 0 20px;
}
.react .fa-brands.fa-vine,
.fa.fa-reply {
  color: #636262;
}
.fa-brands.fa-vine.active {
  color: red;
}

.commentTextarea {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.commentTextarea i {
  margin-right: 10px;
  width: 16px;
}
.commentsIcon {
  align-items: center;
  padding: 10px;
  background: #e5e8ec;
  display: flex;
  border-radius: 0 20px 20px 0;
}
.commentsIcon i:last-child {
  margin-left: auto;
}
.commentsIcon i:hover {
  color: #6362626e;
}

.newCommentContainer {
  width: 100%;
}
#send {
  margin-left: auto;
  margin-right: 0;
}
.react i {
  margin: 0;
  text-align: center;
  width: 20px;
}
/* create new post */
.newPost {
  min-width: 260px;
  background: rgba(255, 254, 254, 0.747);
  padding: 5px 20px;
  border: 1px solid #d9dddf;
  margin-bottom: 20px;
  border-radius: 20px;
}

.newpostHeader {
  display: flex;
  align-items: center;
}
.newPost .privacy {
  background: rgba(206, 206, 206, 0.507);
  color: rgba(0, 0, 0, 0.534);
  padding: 2px 15px;
  border-radius: 50px;
  background: #f0f2f5;
  color: black;
}
.postInput {
  overflow: none;
  max-height: 430px;
  width: 90%;
  border: none;
  font-size: 1.5rem;
  background: none;
  margin-left: 70px;
}
#btnpost {
  justify-content: center;
  text-align: center;
  min-width: 96px;
  border-radius: 50px;
  background: #f0f2f5;
  color: black;
}
.newpostFooter {
  display: flex;
  justify-content: space-around;
}
.newpostFooter .btn {
  margin-top: 6px;
}

/*side menu */
.menu {
  flex: 0.8;
  width: 20%;
  padding-top: 30px;
  border-right: 1px solid #d9dddf;
  margin-right: 2rem;
}
.menu .container {
  top: 100px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10px;
}

.menuHeader {
  display: flex;
  align-items: center;
}
.menu .btn {
  display: flex;
  font-size: 1.5rem;
  background: transparent;
  color: black;
  width: 100%;
  padding: 20px 0 20px 20px;
}
.menu i {
  margin-right: 2rem;
}

/* search menu */

.searchInput {
  width: 250px;
  background: rgba(206, 206, 206, 0.678);
  border: none;
  border-radius: 50px;
  padding: 12px;
}

/* Recommendation */
.recommendation {
  top: 100px;
  position: sticky;
  padding: 30px 30px 0 20px;
  flex: 1;
}

.cardRecommendation {
  top: 100px;
  position: sticky;
  padding: 20px;
  background: white;
  border: 1px solid #d9dddf;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 29px 0px;
  border-radius: 20px;
}

.viberz {
  margin-top: 10px;
  display: flex;
}

.viberz img {
  height: 50%;
}

.viberz p {
  font-size: 0.9rem;
  color: rgb(22, 20, 20);
  border: none;
  margin-bottom: 10px;
}

.viberz .btn {
  border-radius: 50px;
  background: #f0f2f5;
  color: rgb(107, 104, 104);
}
@media screen and (max-width: 1300px) {
  .menu,
  .content {
    width: 100%;
  }
  .menu .container {
    display: flex;
    margin-right: 1.5rem;
    align-items: center;
    padding: 0;
    width: 64px;
    justify-self: end;
  }

  .navigation .container {
    justify-content: space-around;
  }
  .menuHeader span {
    display: none;
  }

  .menu .btn span,
  .menuHeader span {
    display: none;
  }
  .menu i {
    font-size: 2rem;
  }
  .menuHeader img {
    width: 55px;

    margin-left: 1.4rem;
  }
}
@media (max-width: 1000px) {
  .menu {
    margin-right: 10px;
  }

  .content {
    max-width: 490px;
  }
  .menu {
    max-width: 75px;
  }

  .recommendation {
    display: none;
  }
}

@media (max-width: 605px) {
  .postText {
    font-size: 1rem;
    margin: 0;
    padding: 1rem 0.5rem 0.5rem 1rem;
  }
  .content {
    padding: 20px;

    max-width: 100%;
  }
  .menu {
    max-width: 100%;
  }
  .main .container {
    flex-direction: column-reverse;
  }

  .searchInput {
    width: 100%;
  }

  .menu .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .menu {
    align-items: center;
    padding: 0;
    margin: 0;
    bottom: 0;
    position: fixed;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 29px 0px;
    border-top: 1px solid #d9dddf;
  }
  .menu img {
    margin-right: 0;
  }
  .menu .btn {
    margin-right: 1rem;
  }
}
@media (max-width: 450px) {
  span {
    display: none;
  }
}
@media (max-width: 400px) {
  h2,
  .postInput {
    font-size: 1.3rem;
  }
  .postInput {
    margin-left: 20px;
  }
  .postText {
    font-size: 0.8rem;
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  .postHeader img,
  .newPost img,
  .menuHeader img,
  .recommendation img,
  .comment img {
    width: 40px;
  }

  .main .container {
    flex-direction: column-reverse;
  }

  .searchInput {
    justify-self: start;
    width: 70%;
    margin-left: 30%;
  }

  .menu .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .menu {
    align-items: center;
    padding: 0;
    bottom: 0;
    position: fixed;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 29px 0px;
    border-top: 1px solid #d9dddf;
  }
}
